# generate full list of gitignore files
*.log
node_modules/
dist/
*.env
**/node_modules/**
transfer_db/data
*.duckdb
api/app
queue/queue
api/arryt_api
firebase.json
crons/close_opened_time
queue/queue
crons/balance_report_send
crons/calculate_courier_performance
